In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import csv
import re

In [2]:
halftime = pd.read_csv('..\\data\\nfl_halftime.csv')
halftime['dt']= pd.to_datetime(halftime['date'])
hfa = halftime[halftime['dt'].dt.year>=2015]
hf_artists = {}
for index, row in hfa.iterrows():
    hf_artists[row['artist'].upper()] = row['date'][-4:]

hf_artists

{'KATY PERRY': '2015',
 'LENNY KRAVITZ': '2015',
 'MISSY ELLIOT': '2015',
 'COLDPLAY': '2016',
 'BEYONCE': '2016',
 'BRUNO MARS': '2016',
 'LADY GAGA': '2017',
 'JUSTIN TIMBERLAKE': '2018',
 'THE TENNESSEE KIDS': '2018',
 'MAROON 5': '2019',
 'TRAVIS SCOTT': '2019',
 'BIG BOI': '2019',
 'SHAKIRA': '2020',
 'JENNIFER LOPEZ': '2020',
 'BAD BUNNY': '2020',
 'J BALVIN': '2020',
 'EMME MUNIZ': '2020',
 'THE WEEKND': '2021',
 'EMINEM': '2022',
 'DR. DRE': '2022',
 'SNOOP DOGG': '2022',
 'KENDRICK LAMAR': '2022',
 'MARY J. BLIGE': '2022',
 'RIHANNA': '2023',
 'USHER': '2024',
 'ALICIA KEYS': '2024',
 'JERMAINE DUPRII': '2024',
 'H.E.R.': '2024',
 'WILL.I.AM': '2024',
 'LIL JON': '2024',
 'LUDACRIS': '2024'}

## Add teams playing in Super Bowl and convert to long format.

In [ ]:
nfl_halftime=pd.read_csv('..\\data\\nfl_halftime_wide.csv')

In [14]:
nfl_halftime['Winner']=['LA','BLT','NE', 'TB','NE','NE','PIT','IND','NYG','PIT','NO','GB','NYG','BLT','SEA','NE','DEN','NE','PHI','NE','KC','TB','LA','KC','KC']
nfl_halftime['Loser']=['TEN','NYG','LA','LV','CAR','PHI','SEA','CHI','NE','ARZ','IND','PIT','NE','SF','DEN','SEA','CAR','ATL','NE','LA','SF','KC','CIN','PHI','SF']

In [15]:
nfl_halftime

,Date,Season,Artist,Artist2,Artist3,Artist4,Artist5,Artist6,Artist7,Winner,Loser
0,1/30/2000,1999,Phil Collins,Christina Aguilera,Enrique Iglesias,Toni Braxton,NaN,NaN,NaN,LA,TEN
1,1/28/2001,2000,Aerosmith,N'Sync,Britney Spears,Mary J. Blige,Nelly,Justin Timberlake,NaN,BLT,NYG
2,2/3/2002,2001,U2,NaN,NaN,NaN,NaN,NaN,NaN,NE,LA
3,1/26/2003,2002,Shania Twain,No Doubt,Sting,NaN,NaN,NaN,NaN,TB,LV
4,2/1/2004,2003,Janet Jackson,Kid Rock,P.Diddy,Nelly,Justin Timberlake,NaN,NaN,NE,CAR
5,2/6/2005,2004,Paul McCartney,NaN,NaN,NaN,NaN,NaN,NaN,NE,PHI
6,2/5/2006,2005,The Rolling Stones,NaN,NaN,NaN,NaN,NaN,NaN,PIT,SEA
7,2/4/2007,2006,Prince,NaN,NaN,NaN,NaN,NaN,NaN,IND,CHI
8,2/3/2008,2007,Tom Petty and The Heartbreakers,NaN,NaN,NaN,NaN,NaN,NaN,NYG,NE
9,2/1/2009,2008,Bruce Springsteen and the E Street Band,NaN,NaN,NaN,NaN,NaN,NaN,PIT,ARZ
10,2/7/2010,2009,The Who,NaN,NaN,NaN,NaN,NaN,NaN,NO,IND
11,2/6/2011,2010,The Black Eyed Peas,Usher,Slash,will.i.am,NaN,NaN,NaN,GB,PIT
12,2/5/2012,2011,Madonna,NaN,NaN,NaN,NaN,NaN,NaN,NYG,NE
13,2/3/2013,2012,Beyonce,NaN,NaN,NaN,NaN,NaN,NaN,BLT,SF
14,2/2/2014,2013,Bruno Mars,Red Hot Chili Peppers,NaN,NaN,NaN,NaN,NaN,SEA,DEN
15,2/1/2015,2014,Katy Perry,Lenny Kravitz,Missy Elliot,NaN,NaN,NaN,NaN,NE,SEA
16,2/7/2016,2015,Coldplay,Beyonce,Bruno Mars,NaN,NaN,NaN,NaN,DEN,CAR
17,2/5/2017,2016,Lady Gaga,NaN,NaN,NaN,NaN,NaN,NaN,NE,ATL
18,2/4/2018,2017,Justin Timberlake,The Tennessee Kids,NaN,NaN,NaN,NaN,NaN,PHI,NE
19,2/3/2019,2018,Maroon 5,Travis Scott,Big Boi,NaN,NaN,NaN,NaN,NE,LA
20,2/2/2020,2019,Shakira,Jennifer Lopez,Bad Bunny,J Balvin,Emme Muniz,NaN,NaN,KC,SF
21,2/7/2021,2020,The Weeknd,NaN,NaN,NaN,NaN,NaN,NaN,TB,KC
22,2/13/2022,2021,Eminmen,Dr. Dre,Snoop Dogg,Kendrick Lamar,Mary J. Blige,NaN,NaN,LA,CIN
23,2/12/2023,2022,Rihanna,NaN,NaN,NaN,NaN,NaN,NaN,KC,PHI
24,2/11/2024,2023,Usher,Alicia Keys,Jermaine Duprii,H.E.R.,will.i.am,Lil Jon,Ludacris,KC,SF

In [16]:
artist=[]
date=[]
season=[]
winner=[]
loser=[]
for index, row in nfl_halftime.iterrows():
       date.append(row['Date'])
       season.append(row['Season'])
       artist.append(row['Artist'])
       winner.append(row['Winner'])
       loser.append(row['Loser'])
       for i in range(2,8):
            col='Artist'+str(i)
            if pd.notnull(row[col]):
                artist.append(row[col])
                date.append(row['Date'])
                season.append(row['Season'])
                winner.append(row['Winner'])
                loser.append(row['Loser'])

df=pd.DataFrame({'date':date,'season':season,'artist':artist,'winner':winner,'loser':loser})

In [17]:
df.to_csv('..\\data\\nfl_halftime.csv',index=False)
nfl_halftime.to_csv('..\\data\\nfl_halftime_wide.csv',index=False)

### Find artist counts

In [22]:
## Use long format halftime data
nfl_halftime=pd.read_csv('..\\data\\nfl_halftime.csv')

In [23]:
nfl_halftime['artist'].value_counts()

Justin Timberlake                          3
Beyonce                                    2
will.i.am                                  2
Usher                                      2
Mary J. Blige                              2
Nelly                                      2
Bruno Mars                                 2
Lady Gaga                                  1
Coldplay                                   1
Bad Bunny                                  1
Missy Elliot                               1
The Tennessee Kids                         1
Maroon 5                                   1
Travis Scott                               1
Big Boi                                    1
Shakira                                    1
Jennifer Lopez                             1
Emme Muniz                                 1
J Balvin                                   1
Katy Perry                                 1
The Weeknd                                 1
Eminmen                                    1
Dr. Dre                                    1
Snoop Dogg                                 1
Kendrick Lamar                             1
Rihanna                                    1
Alicia Keys                                1
Jermaine Duprii                            1
H.E.R.                                     1
Lil Jon                                    1
Lenny Kravitz                              1
Phil Collins                               1
Red Hot Chili Peppers                      1
Christina Aguilera                         1
Enrique Iglesias                           1
Toni Braxton                               1
Aerosmith                                  1
N'Sync                                     1
Britney Spears                             1
U2                                         1
Shania Twain                               1
No Doubt                                   1
Sting                                      1
Janet Jackson                              1
Kid Rock                                   1
P.Diddy                                    1
Paul McCartney                             1
The Rolling Stones                         1
Prince                                     1
Tom Petty and The Heartbreakers            1
Bruce Springsteen and the E Street Band    1
The Who                                    1
The Black Eyed Peas                        1
Slash                                      1
Madonna                                    1
Ludacris                                   1
Name: artist, dtype: int64

In [24]:
nfl_halftime['season'].value_counts()

2023    7
2000    6
2021    5
2019    5
2003    5
2010    4
1999    4
2015    3
2002    3
2018    3
2014    3
2013    2
2017    2
2016    1
2022    1
2001    1
2020    1
2006    1
2007    1
2012    1
2004    1
2005    1
2009    1
2008    1
2011    1
Name: season, dtype: int64

## Trim charts dataset

In [33]:
file='..\\data\\charts.csv'
charts={'title':[],'rank':[],'date':[],'artist':[],'url':[],'region':[],'chart':[],'trend':[],'streams':[]}

with open(file, 'r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        if row['region']=='United States':
            for key in row:
                charts[key].append(row[key])

charts=pd.DataFrame(charts)

In [2]:
charts=pd.read_csv('..\\data\\charts_us.csv')

In [34]:
charts['date']=pd.to_datetime(charts['date'])
charts=charts[(charts['date'].dt.month==2) | (charts['date'].dt.month==3)| (charts['date'].dt.month==1)]
#charts['rank']=charts['rank'].astype(int)

In [35]:
charts=charts.sort_values(by=['date','chart','rank'])
charts.reset_index(drop=True, inplace=True)
charts

,title,rank,date,artist,url,region,chart,trend,streams
0,Bad and Boujee (feat. Lil Uzi Vert),1,2017-01-01,Migos,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,United States,top200,SAME_POSITION,1371493
1,Bounce Back,10,2017-01-01,Big Sean,https://open.spotify.com/track/0SGkqnVQo9KPytS...,United States,top200,MOVE_DOWN,682688
2,Never Be Like You,100,2017-01-01,"Flume, kai",https://open.spotify.com/track/12REd1n8PeiHHWO...,United States,top200,MOVE_DOWN,207102
3,The Mack,101,2017-01-01,"Nevada, Mark Morrison, Fetty Wap",https://open.spotify.com/track/7aV2mflaASUmGhC...,United States,top200,MOVE_DOWN,206028
4,Gold,102,2017-01-01,Kiiara,https://open.spotify.com/track/6WhzFzROw3aq3rP...,United States,top200,MOVE_UP,205831
...,...,...,...,...,...,...,...,...,...
112645,Case Closed,50,2021-03-31,"Young Dolph, Key Glock",https://open.spotify.com/track/3RvLAm0ESbUOUZO...,United States,viral50,MOVE_DOWN,
112646,Track Star,6,2021-03-31,Mooski,https://open.spotify.com/track/5hChuUMe5iHfjkX...,United States,viral50,SAME_POSITION,
112647,Astronaut In The Ocean,7,2021-03-31,Masked Wolf,https://open.spotify.com/track/3VT8hOC5vuDXBsH...,United States,viral50,SAME_POSITION,
112648,Sometimes (Backwood),8,2021-03-31,gigi,https://open.spotify.com/track/5ysFFsqJFcsX8Re...,United States,viral50,SAME_POSITION,
112649,Cloud 9,9,2021-03-31,Beach Bunny,https://open.spotify.com/track/6vFsBXYczYsP0H3...,United States,viral50,MOVE_UP,

In [36]:
charts.to_csv('..\\data\\charts_us.csv',index=False)

## Clean data from Spotify Artist Charts

In [43]:
artists = pd.read_csv('..\\data\\artists.csv')
artists

     year  rank          name  peak  previous  streak  movement  halftime
0    2022     1         Drake     1         1       1         0         0
1    2022     2  Taylor Swift     1         1       1         1         0
2    2022     3    Juice WRLD     1         1       1         2         0
3    2022     4    Kanye West     3         3       3         1         0
4    2022     5    The Weeknd     1         1       1         4         0
..    ...   ...           ...   ...       ...     ...       ...       ...
595  2024   196     blink-182    36        36      36       160         0
596  2024   197  Jordan Davis   113       113     113        84         0
597  2024   198   Blake Roman   194       194     194         4         0
598  2024   199      Lil Tjay    47        47      47       152         0
599  2024   200         Migos    63        63      63       137         0

[600 rows x 8 columns]

In [38]:
artists['movement']=artists['rank']-artists['previous']
artists['year'] = artists['year'].astype(str)
artists['name']=artists['name'].apply(lambda x: x.strip())

In [39]:
halftime_performers = []

for index, row in artists.iterrows():
    if row['name'].upper() in hf_artists.keys():
        if row['year']==hf_artists[row['name'].upper()]:
            halftime_performers.append(1)
        else:
            halftime_performers.append(0)
    else:
        halftime_performers.append(0)
artists['halftime']=halftime_performers

In [42]:
artists.to_csv('..\\data\\artists.csv',index=False)

## Clean data from Spotify Song Charts

In [44]:
songs = pd.read_csv('..\\data\\songs.csv')
songs

,year,rank,song,name,peak,previous,streak,streams,movement,halftime
0,2017,1,Shape of You,Ed Sheeran,1,1,1,10456635,0,0
1,2017,2,Bad and Boujee,Migos,1,1,1,10243411,1,0
2,2017,2,Bad and Boujee,Lil Uzi Vert,1,1,1,10243411,1,0
3,2017,3,Bounce Back,Big Sean,3,3,3,8704702,0,0
4,2017,4,I Don’t Wanna Live Forever (Fifty Shades Darker),ZAYN,4,4,4,7677509,0,0
...,...,...,...,...,...,...,...,...,...,...
1991,2024,197,Nightcrawler,Chief Keef,197,197,197,2473098,0,0
1992,2024,198,Wet Dreamz,J. Cole,69,69,69,2471236,129,0
1993,2024,199,Everybody,Nicki Minaj,27,27,27,2467374,172,0
1994,2024,199,Everybody,Lil Uzi Vert,27,27,27,2467374,172,0
1995,2024,200,Can’t Catch Me Now - from The Hunger Games: T...,Olivia Rodrigo,21,21,21,2459806,179,0

In [ ]:
songs['movement']=songs['rank']-songs['previous']
songs['streams']=songs['streams'].apply(lambda x: x.replace(',','')).astype(int)

In [45]:
songs['year']=songs['year'].apply(lambda x: str(x))
songs['song'] = songs['song'].apply(lambda x: x.strip())

In [10]:
for index, row in songs.iterrows():
    if row['song'].find('feat')!=-1:
        s=row['song']
        songs.at[index, 'song']=s[:s.find('feat')-1].strip()
        
        s = (s[s.find('(')+1:s.find(')')])
        if s.find('feat')==0:
            s = (s[6:])
            artists = re.split(',|&', s)
        else:
            s = s[5:]
            s, end = s.split(' feat. ')
            artists = re.split(',|&', s)
            artists.append(end)
        for artist in artists:
            songs = songs.append({'year':row['year'],'rank':row['rank'],'song':songs.loc[index, 'song'],'name':artist.strip(),'peak':row['peak'],'previous':row['previous'],'streak':row['streak'],'streams':row['streams'],'movement':row['movement']},ignore_index=True)
    if row['song'].find('(with')!=-1:
        s=row['song']
        songs.at[index, 'song']=s[:s.find('(with')-1].strip()
        
        s = (s[s.find('(')+1:s.find(')')])
        if s.find('with')==0:
            s = (s[5:])
            artists = re.split(',|&', s)
        
        for artist in artists:
            songs = songs.append({'year':row['year'],'rank':row['rank'],'song':songs.loc[index, 'song'],'name':artist.strip(),'peak':row['peak'],'previous':row['previous'],'streak':row['streak'],'streams':row['streams'],'movement':row['movement']},ignore_index=True)

In [46]:
songs.to_csv('..\\data\\songs.csv',index=False)

In [14]:
songs.sort_values(by=['year','rank'],inplace=True)
songs=songs.reset_index(drop=True)
songs

,year,rank,song,name,peak,previous,streak,streams,movement,halftime
0,2017,1,Shape of You,Ed Sheeran,1,1,1,10456635,0,0.0
1,2017,2,Bad and Boujee,Migos,1,1,1,10243411,1,0.0
2,2017,2,Bad and Boujee,Lil Uzi Vert,1,1,1,10243411,1,0.0
3,2017,3,Bounce Back,Big Sean,3,3,3,8704702,0,0.0
4,2017,4,I Don’t Wanna Live Forever (Fifty Shades Darker),ZAYN,4,4,4,7677509,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1990,2024,197,Nightcrawler,Chief Keef,197,197,197,2473098,0,0.0
1991,2024,198,Wet Dreamz,J. Cole,69,69,69,2471236,129,0.0
1992,2024,199,Everybody,Nicki Minaj,27,27,27,2467374,172,0.0
1993,2024,199,Everybody,Lil Uzi Vert,27,27,27,2467374,172,0.0
1994,2024,200,Can’t Catch Me Now - from The Hunger Games: T...,Olivia Rodrigo,21,21,21,2459806,179,0.0

In [29]:
halftime_performers = []

for index, row in songs.iterrows():
    if row['name'].upper() in hf_artists.keys():
        if row['year']==hf_artists[row['name'].upper()]:
            halftime_performers.append(1)
        else:
            halftime_performers.append(0)
    else:
        halftime_performers.append(0)
songs['halftime']=halftime_performers

In [30]:
songs[songs.halftime==1]

,year,rank,song,name,peak,previous,streak,streams,movement,halftime
98,2017,82,Million Reasons,Lady Gaga,82,82,82,1982144,0,1
267,2018,16,Say Something,Justin Timberlake,16,16,16,5259718,0,1
307,2018,42,Filthy,Justin Timberlake,14,14,14,3427778,28,1
346,2018,72,Man of the Woods,Justin Timberlake,72,72,72,2521941,0,1
367,2018,88,Supplies,Justin Timberlake,88,88,88,2110903,0,1
...,...,...,...,...,...,...,...,...,...,...
1787,2024,24,Yeah!,Ludacris,24,24,24,5654162,0,1
1843,2024,67,My Boo,USHER,67,67,67,3924116,0,1
1861,2024,85,DJ Got Us Fallin' In Love,USHER,85,85,85,3401011,0,1
1914,2024,131,Hey Daddy (Daddy's Home),USHER,131,131,131,2905660,0,1
1924,2024,141,Love in This Club,USHER,141,141,141,2807377,0,1

## Clean data from UK official charts

In [8]:
uk_charts = pd.read_csv('..\\data\\uk_charts.csv')
uk_charts['previous']=uk_charts['previous'].apply(lambda x: 101 if x=='New' else x)
uk_charts['previous']=uk_charts['previous'].apply(lambda x: 101 if x=='RE' else x)


col = ['rank', 'previous', 'peak', 'weeks']
for c in col:
    uk_charts[c]=uk_charts[c].astype(int)

In [16]:
halftime_performers = []

for index, row in uk_charts.iterrows():
    if row['artist'].upper() in hf_artists.keys():
        if row['year']==hf_artists[row['artist'].upper()][-4:]:
            halftime_performers.append(1)
        else:
            halftime_performers.append(0)
    else:
        halftime_performers.append(0)
uk_charts['halftime']=halftime_performers

In [17]:
uk_charts.to_csv('..\\data\\uk_charts.csv',index=False)

## Clean data from Hits daily double

In [17]:
hdd_charts = pd.read_csv('..\\data\\hdd_charts.csv')

In [8]:

for index, row in hdd_charts.iterrows():
    for col in hdd_charts.columns:
        if col != 'date' and row[col] is not None:
            s = str(row[col])
            while s.find('>')!=-1:
                s =s[s.find('>')+1:]
                s=s[:s.find('<')]

            if col == 'artist' or col == 'label':
                hdd_charts.at[index,col]=s.strip()
            else:
                hdd_charts.at[index,col]=s.strip().strip("%").replace(',','')
    
    if row['lw']=='--':
        hdd_charts.at[index,'lw']=row['rank']

    if row['change']=='--':
        hdd_charts.at[index,'change']=0
    if row['tea']=='--':
        hdd_charts.at[index,'tea']=0
        hdd_charts.at[index,'sea']=0



cols = ['total',  'albums', 'tea', 'sea', 'rank', 'lw']
for col in cols:
    hdd_charts[col] = hdd_charts[col].apply(lambda x: 0 if x is None or x=='nan' else int(x))

hdd_charts['change'] = hdd_charts['change'].apply(lambda x: 0 if x is None or x=='nan' is None else float(x))

hdd_charts['change']= hdd_charts['change']/100

hdd_charts['movement']= hdd_charts['lw']-hdd_charts['rank']

hdd_charts.to_csv('..\\data\\hdd_charts.csv',index=False)

In [54]:
hdd_charts.rename(columns={'albums': 'album_sales'}, inplace=True)
tracks = []

for index, row in hdd_charts.iterrows():
    split = row['artist'].split('|')
    if len(split)>1:
        tracks.append(split[1].strip())
        hdd_charts.at[index,'artist']=split[0].strip()
    else:
        tracks.append(None)

    

hdd_charts['album']=tracks
hdd_charts

,date,rank,lw,artist,label,total,change,album_sales,tea,sea,movement,post,halftime,album
0,1/27/2015,1,1,FALL OUT BOY,DCD2/ISLAND,227348,0.00,0,0,0,0,0,0,None
1,1/27/2015,2,2,TAYLOR SWIFT,BIG MACHINE,116891,-0.12,0,0,0,0,0,0,None
2,1/27/2015,3,1,MEGHAN TRAINOR,EPIC,85619,-0.64,0,0,0,-2,0,0,None
3,1/27/2015,4,4,JOEY BADA$$,CINEMATIC,54956,0.00,0,0,0,0,0,0,None
4,1/27/2015,5,6,NICKI MINAJ,YMCMB/REPUBLIC,51241,-0.09,0,0,0,1,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,2/16/2024,46,50,LUKE COMBS,RIVER HOUSE/COLUMBIA NASHVILLE (SME),16699,0.08,452,200,16048,4,1,0,THIS ONE'S FOR YOU
1046,2/16/2024,47,45,DRAKE,OVO/REPUBLIC (UMG),16504,0.03,11,20,16474,-2,1,0,CERTIFIED LOVER BOY
1047,2/16/2024,48,46,DRAKE &amp; 21 SAVAGE,OVO/REPUBLIC (UMG),16492,0.03,55,27,16410,-2,1,0,HER LOSS
1048,2/16/2024,49,48,QUEEN,HOLLYWOOD (UMG),16269,0.04,2629,282,13359,-1,1,0,GREATEST HITS 1
1049,2/16/2024,50,50,POST MALONE,REPUBLIC (UMG),15850,0.00,151,99,15600,0,1,0,HOLLYWOOD'S BLEEDING

In [48]:
hdd_charts.rename(columns={'albums': 'album_sales'}, inplace=True)

In [55]:
temp = hdd_charts[hdd_charts['artist'].str.contains('&amp;')]
art = ['ABOVE ','BELLE ', 'NATHANIEL RATELIFF ', 'EARTH, WIND ', 'BOB MARLEY ']
for index, row in temp.iterrows():
    split = row['artist'].split('&amp;')
    if split[0] not in art:
        s=split[1]
        split = split[0].split(',')
        split.append(s)
        for i in range(len(split)):
            split[i]=split[i].strip()

        hdd_charts.at[index,'artist']=split[0]
        for i in range(1,len(split)):
            hdd_charts = hdd_charts.append({'date':row['date'],'rank':row['rank'],'lw':row['lw'],'change':row['change'],'artist':split[i],'album_sales':row['album_sales'],'total':row['total'],'tea':row['tea'],'sea':row['sea'],'movement':row['movement'],'album':row['album']},ignore_index=True)

In [56]:
pages = pd.read_csv('..\\references\\wayback.csv')

post = dict(map(lambda i,j: (i,j), pages['date'], pages['post']))

posts = []
for index, row in hdd_charts.iterrows():
        posts.append(post[row['date']])

hdd_charts['post']=posts

hdd_charts

,date,rank,lw,artist,label,total,change,album_sales,tea,sea,movement,post,halftime,album
0,1/27/2015,1,1,FALL OUT BOY,DCD2/ISLAND,227348,0.00,0,0,0,0,0,0.0,None
1,1/27/2015,2,2,TAYLOR SWIFT,BIG MACHINE,116891,-0.12,0,0,0,0,0,0.0,None
2,1/27/2015,3,1,MEGHAN TRAINOR,EPIC,85619,-0.64,0,0,0,-2,0,0.0,None
3,1/27/2015,4,4,JOEY BADA$$,CINEMATIC,54956,0.00,0,0,0,0,0,0.0,None
4,1/27/2015,5,6,NICKI MINAJ,YMCMB/REPUBLIC,51241,-0.09,0,0,0,1,0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,2/18/2022,44,47,SILK SONIC,NaN,14689,0.09,2874,466,11350,3,1,NaN,AN EVENING WITH SILK SONIC
1074,2/10/2023,8,5,21 SAVAGE,NaN,42749,-0.02,279,180,42291,-3,0,NaN,HER LOSS
1075,2/17/2023,8,8,21 SAVAGE,NaN,39961,-0.07,225,153,39583,0,1,NaN,HER LOSS
1076,2/9/2024,48,46,21 SAVAGE,NaN,16492,0.03,55,27,16410,-2,0,NaN,HER LOSS
1077,2/16/2024,48,46,21 SAVAGE,NaN,16492,0.03,55,27,16410,-2,1,NaN,HER LOSS

In [5]:
halftime_performers = []

for index, row in hdd_charts.iterrows():
    if row['artist'] in hf_artists.keys():
        if row['date'][-4:]==hf_artists[row['artist']][-4:]:
            halftime_performers.append(1)
        else:
            halftime_performers.append(0)
    else:
        halftime_performers.append(0)
hdd_charts['halftime']=halftime_performers

In [44]:
hdd_charts.to_csv('..\\data\\hdd_charts.csv',index=False)

In [38]:
len(hdd_charts)

1258

In [41]:
hdd_charts=pd.read_csv('..\\data\\hdd_copy.csv')

In [42]:
hdd_charts['year'] = hdd_charts['date'].apply(lambda x: x[-4:])
for index, row in hdd_charts.iterrows():
    pre = hdd_charts[(hdd_charts['post']==0)&(hdd_charts['year']==row['date'][-4:])]
    post = hdd_charts[(hdd_charts['post']==1)&(hdd_charts['year']==row['date'][-4:])]
    if row['post']==1 and row['artist'] not in pre['artist'].values:
        t = row['total']
        change = row['change']
        last_total = pre[pre['rank']==50]['total'].values[0]
        if change>0:
            total = t/(1+change)
        elif change<0:
            total = t/(1-change)
        else:
            total=last_total
        hdd_charts = hdd_charts.append({'date':pre['date'].values[0],'rank':0,'lw':0,'change':0,'artist':row['artist'],'label':row['label'],'album_sales':0,'total':total,'tea':0,'sea':0,'movement':0,'album':row['album'],'post':0,'halftime':row['halftime']},ignore_index=True)
    elif row['post']==0 and row['artist'] not in post['artist'].values:
        last = post[post['rank']==50]
        hdd_charts = hdd_charts.append({'date':post['date'].values[0],'rank':0,'lw':0,'change':0,'artist':row['artist'],'label':row['label'],'album_sales':last['album_sales'].values[0]*0.9,'total':last['total'].values[0]*0.9,'tea':last['tea'].values[0]*0.9,'sea':last['sea'].values[0]*0.9,'movement':0,'album':row['album'],'post':1,'halftime':row['halftime']},ignore_index=True)


hdd_charts.drop(columns=['year'],inplace=True)
hdd_charts.sort_values(by=['date','rank'],inplace=True)
hdd_charts.reset_index(drop=True, inplace=True)

In [43]:
diff = []
for index, row in hdd_charts.iterrows():
    if row['post']==0:
        diff.append(0)
    else:
        pre = hdd_charts[(hdd_charts['post']==0)&(hdd_charts['artist']==row['artist'])]
        diff.append(row['total']-pre['total'].values[0])

hdd_charts['total_change']=diff